/*////////////////////////////////////equipoContainer/////////////*/

@media screen and (max-width: 700px) {
  .deck_container {
    display: block;
  }
  .card_container {
    display: block;
    margin-left: 10%;
  }
}
@media screen and (min-width: 700px) {
  .deck_container {
    margin: 0 10px;
    padding: 0;
    list-style: none;
  }
  .card_container {
    display: inline-block;
    vertical-align: top;
    width: calc(33.333333%);
    margin: 10px 20px 20px 0;
    margin-left: 10%;
  }
  @supports (display: grid) {
    .deck_container {
      margin: 0;
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-auto-rows: repeat(auto-fit, minmax(300px, 480px));
      grid-auto-flow: dense;
    }
    .card_container {
      width: auto;
    }
  }
}
/*////////////////////////////////////equipoMember/////////////*/
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

.flip-container,
.front,
.back {
  width: 290px;
  height: 290px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
