/*////////////////////////////////////equipoContainer/////////////*/

@media screen and (max-width: 700px) {
  .deck__container {
    display: block;
    text-align: center;
  }
  .card__container {
    display: block;
    margin-left: 10%;
  }
  .card__supercontainer {
    border: 3px solid #fdb813;
    margin: 5px;
  }
}
@media screen and (max-width: 1024px) {
  .deck__container {
    margin: 0 10px;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .card__container {
    display: inline-block;
    vertical-align: top;
    width: calc(33.333333%);
    margin: 10px 20px 20px 0;
    margin-left: 10%;
  }
  @supports (display: grid) {
    .deck__container {
      margin: 0;
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-auto-rows: repeat(auto-fit, minmax(300px, 480px));
      grid-auto-flow: dense;
    }
    .card__supercontainer {
      border: 3px solid #fdb813;
      margin: 5px;
    }

    .card__container {
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
    .card__side {
      margin: 0 5px 5px 20px;
      text-align: left;
    }
  }
}
@media screen and (min-width: 1024px) {
  @supports (display: grid) {
    .deck__container {
      margin: 0;
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-auto-rows: repeat(auto-fit, minmax(300px, 480px));
      grid-auto-flow: dense;
    }
    .card__supercontainer {
      display: grid;
      grid-gap: 3px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, auto);
      grid-template-areas: " c c s s";
      border: 5px solid #fdb813;
      margin: 5px;
    }
    .card__container {
      grid-area: c;
    }
    .card__side {
      grid-area: s;
      margin: 0 5px 5px 25px;
      text-align: left;
    }
  }
}
/*////////////////////////////////////equipoMember/////////////*/
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

.flip-container,
.front,
.back {
  width: 290px;
  height: 425px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
.equipo__member__button {
  background-color: #004383;
  color: white;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}
