.footer__container {
  background-color: #004383;
  max-height: 800px;
  min-height: 150px;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    ". . a a a a m m m m m m"
    ". . t t t . m m m m m m"
    ". . c c c . m m m m m m"
    ". . c c c . m m m m m m";
}

.footer__tel__container {
  grid-area: t;

  display: grid;
  cursor: pointer;
  grid-template-columns: 42px auto;
  grid-template-rows: 40px;
  grid-template-areas: "l e";
}
.footer__tel__container:hover {
  opacity: 1;
}

.footer__tel {
  grid-area: e;
  margin-top: 10px;
  font-size: 16px;
}
.footer__tel__pic {
  text-align: center;
  grid-area: l;
  opacity: 0.7;

  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.footer__tel__pic:hover {
  opacity: 1;
}
.footer__picPhoto {
  max-height: 40px;
  max-width: 40px;
}
.footer__mail__container {
  grid-area: a;
  padding-top: 6px;
  display: grid;
  grid-template-columns: 42px auto;
  grid-template-rows: 45px;
  grid-template-areas: "i p";
}
.footer__mail__container:hover {
  opacity: 1;
}
.footer__mail {
  grid-area: p;
  font-size: 16px;
  padding: 10px 0;
  margin: 0;
}
.footer__mail__pic {
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
  grid-area: i;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.footer__mail__pic:hover {
  opacity: 1;
}
.footer__download__foto__container {
  text-align: center;
  color: white;
  cursor: pointer;
  grid-area: d;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30px 40px;
  grid-template-areas:
    " x "
    " o ";
}
.footer__download__text__link__container {
  grid-area: x;

  color: inherit;
}
.footer__download__foto__link__container {
  grid-area: o;

  color: inherit;
}
.footer__download__foto {
  max-height: 40px;
  max-width: 40px;
  border-radius: 5px;
  opacity: 0.7;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.footer__download__text {
  font-size: 16px;
  padding: 8px 0 0 0;
  margin: 0;
}
.footer__download__foto:hover {
  opacity: 1;
}

.footer__map__container {
  grid-area: m;
}

.footer__connect__foto__container {
  grid-area: c;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(40px, 60px));
  grid-auto-rows: repeat(auto-fit, minmax(40px, 40px));
  grid-auto-flow: dense;
  text-align: center;
}

.footer__connect__foto {
  max-height: 50px;
  max-width: 50px;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.7;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.footer__connect__foto:hover {
  opacity: 1;
}

@media screen and (max-width: 775px) {
  .footer__container {
    background-color: #004383;
    max-height: 900px;
    min-height: 100px;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
      "d d d d d d d d d d d d"
      "a a a a a a a a a a a a"
      "t t t t t t m m m m m m"
      "c c c c c . m m m m m m"
      "c c c c c . m m m m m m"
      "c c c c c . m m m m m m"
      "c c c c c . m m m m m m";
  }
  .footer__mail {
    font-size: 14px;
    padding: 10px 0;
    margin: 0;
  }
  .footer__download__foto__container {
    text-align: left;
    border: 5px solid white;
    background-color: white;
    color: black;
    cursor: pointer;
    grid-area: d;
    display: grid;
    grid-template-columns: 45px auto;
    grid-template-rows: 55px;
    grid-template-areas: "o x";
  }
  .footer__download__foto {
    max-height: 40px;
    max-width: 40px;
    border-radius: 5px;
    opacity: 0.7;
    -webkit-filter: invert(0%);
    filter: invert(0%);
  }

  .footer__download__text {
    font-size: 14px;
    padding: 8px 0 0 6px;
    margin: 0;
    opacity: 0.9;
  }
}
