.carousel__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  max-height: 600px;
  overflow: hidden;
}
.carousel__img__container {
  position: relative;
  overflow: hidden;
  width: 1024px;
  height: 600px;
}
.carousel__img {
  height: 600px;
  max-width: 1024px;
}
.home__texto__super__container {
  margin: auto;
  width: 80%;
}
.home__texto__border {
  margin: auto;
  width: 40%;

  border-top: 3px solid #004383;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.home__texto__corto__container {
  text-align: center;
}
.home__texto__largo__container {
  text-align: center;
  background-color: aliceblue;
}
.home__servicios__container {
  background-color: #fdeecb;
}
.home__servicios__img {
  height: 120px;
  margin: 0 0 20px 50px;
}

@media screen and (max-width: 1024px) {
  .carousel__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    max-height: 350px;
    overflow: hidden;
  }
  .carousel__img__container {
    position: relative;
    overflow: hidden;
    width: 700px;
    height: 350px;
  }
  .carousel__img {
    height: 350px;
    max-width: 700px;
  }
}

@media screen and (max-width: 700px) {
  .carousel__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    max-height: 300px;
    overflow: hidden;
  }
  .carousel__img__container {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 300px;
  }
  .carousel__img {
    height: 310px;
    max-width: 700px;
  }
  .home__servicios__img {
    height: 100px;
  }
}

@media screen and (max-width: 550px) {
  .carousel__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    max-height: 300px;
    overflow: hidden;
  }
  .carousel__img__container {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 200px;
  }
  .carousel__img {
    height: 200px;
    max-width: 400px;
  }
  .home__servicios__img {
    height: 60px;
  }
}
