.carousel__container {
  margin: auto;
  text-align: center;
  width: fit-content;
  max-height: 600px;
  overflow: hidden;
}
.carousel__img__container {
  position: relative;
  overflow: hidden;
  width: fit-content;
  text-align: center;
  height: 600px;
}
.carousel__img {
  height: 600px;
}
.home__texto__super__container {
  margin: auto;
  width: 80%;
}
.home__texto__border {
  margin: auto;
  width: 40%;
  border-top: 3px solid #004383;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.home__texto__corto__container {
  text-align: center;
  margin: 40px 0 40px 0;
}
.home__texto__largo__container {
  text-align: center;
  background-color: aliceblue;
  margin: 40px 0 40px 0;
}
.home__servicios__container {
  margin: 40px 0 40px 0;
  /* background-color: #fdeecb; */
}
.home__servicios__img {
  height: 120px;
  margin: 0 0 20px 50px;
}

@media screen and (max-width: 1024px) {
  .carousel__container {
    margin: auto;
    text-align: center;
    max-height: 350px;
    width: fit-content;
    overflow: hidden;
  }
  .carousel__img__container {
    position: relative;
    overflow: hidden;
    text-align: center;
    width: fit-content;
    height: 350px;
  }
  .carousel__img {
    height: 350px;
  }
}

@media screen and (max-width: 700px) {
  .carousel__container {
    margin: auto;
    text-align: center;
    width: fit-content;
    max-height: 300px;
    overflow: hidden;
  }
  .carousel__img__container {
    position: relative;
    overflow: hidden;
    width: fit-content;
    height: 300px;
  }
  .carousel__img {
    height: 310px;
  }
  .home__servicios__img {
    height: 100px;
  }
}

@media screen and (max-width: 550px) {
  .carousel__container {
    margin: auto;
    text-align: center;
    max-height: 300px;
    overflow: hidden;
  }
  .carousel__img__container {
    position: relative;
    overflow: hidden;
    text-align: center;
    width: fit-content;
    height: 200px;
  }
  .carousel__img {
    height: 200px;
  }
  .home__servicios__img {
    height: 60px;
  }
}
