.instalaciones__container {
  display: grid;
  grid-template-areas:
    "t1 t1 t2 t2"
    "d  d  d  d "
    "t3 t3 t4 t4"
    ".  .  .  a";
  grid-gap: 3px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  text-align: center;
}
.instalaciones__foto1__container {
  grid-area: t1;
}
.instalaciones__foto2__container {
  grid-area: t2;
}
.instalaciones__foto3__container {
  grid-area: t3;
}
.instalaciones__foto4__container {
  grid-area: t4;
}
.instalaciones__descripcion__container {
  grid-area: d;
  margin: 35px 0 35px 0;
}
.instalaciones__logo__container {
  grid-area: a;
  cursor: pointer;
}
.instalaciones__foto {
  width: 80%;
}

@media screen and (max-width: 705px) {
  .instalaciones__descripcion__container {
    grid-area: d;
    margin: 15px 0 15px 0;
  }
  .instalaciones__foto {
    width: 100%;
  }
}
