.tel__pic:hover {
  opacity: 1;
}
.tel {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
}
.tel__pic {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  opacity: 0.7;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.picPhoto {
  max-height: 40px;
  max-width: 40px;
}

.mail__container:hover {
  opacity: 1;
}
.mail {
  display: inline-block;
  font-size: 16px;
  padding: 10px 0;
  margin: 0;
}
.mail__pic {
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
  display: inline-block;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.mail__pic:hover {
  opacity: 1;
}

@media screen and (max-width: 355px) {
  .mail {
    grid-area: p;
    font-size: 13px;
    padding: 10px 0;
    margin: 0;
  }
}
