{
margin:0;
}
html,body {
	height: 100%;
	background-color: white;
	color: #333333;
	font-family: "liberation sans", "Myriad ", "Bitstream Vera Sans", "Lucida Grande", verdana, "Luxi Sans", "Trebuchet MS", helvetica, verdana,
		arial, sans-serif;
	font-size: 12px;
	line-height: 150%;
	margin: 0 auto;
	padding: 0 2em;
	background-image: url("../images/layout.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

a:link {
	color: transparent;
}

a:visited {
	color: transparent;
}

a:hover {
	color: #FBC23A;
}

h1,h2,h3,h4,h5,h6 {
	background-color: transparent;
	color: #A70000;
	font-family: "liberation sans", "Bitstream Vera Sans", "Lucida Grande", "Trebuchet MS", helvetica, verdana, arial, sans-serif;
	line-height: 130%;
	margin-top: 0;
}

.header {
	background-image: url("../images/top.jpg");
	background-position: center center;
	display: block;
	height: 60px;
	position: fixed;
	clear: both;
	top: 0;
	width: 1024px;
}

.footer {
	background-image: url("../images/bottom.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	bottom: 0;
	clear: both;
	display: block;
	height: 120px;
	vertical-align: bottom;
	width: 1024px;
	position: fixed;
}

.content {
	clear: both;
	float: left;
	margin-bottom: 0;
	padding-bottom: 0;
	height:300px;
}

.bodyTable {
	background-color: transparent;
}

.botonTratamientos {
	display: block;
	float: left;
	height: 23px;
	margin-left: 150px;
	margin-right: 75px;
	margin-top: 20px;
	width: 134px;
	background-image: url("../images/header/boton tratamientos inactivo.jpg");
	float: left;
	height: 23px;
	margin-left: 150px;
	margin-right: 75px;
	margin-top: 20px;
	width: 133px;
}

.botonTratamientos:hover {
	display: block;
	float: left;
	height: 23px;
	margin-left: 150px;
	margin-right: 75px;
	margin-top: 20px;
	width: 134px;
	background-image: url("../images/header/boton tratamientos.jpg");
	float: left;
	height: 23px;
	margin-left: 150px;
	margin-right: 75px;
	margin-top: 20px;
	width: 133px;
}

.botonTratamientosActivo {
	display: block;
	float: left;
	height: 23px;
	margin-left: 150px;
	margin-right: 75px;
	margin-top: 20px;
	width: 134px;
	background-image: url("../images/header/boton tratamientos.jpg");
	float: left;
	height: 23px;
	margin-left: 150px;
	margin-right: 75px;
	margin-top: 20px;
	width: 133px;
}

.botonDonde {
	float: left;
	margin-left: 75px;
	margin-right: 75px;
	margin-top: 20px;
	width: 183px;
	height: 23px;
	display: block;
	background-image: url("../images/header/boton donde inactivo");
}

.botonDonde:hover {
	float: left;
	margin-left: 75px;
	margin-right: 75px;
	margin-top: 20px;
	width: 183px;
	height: 23px;
	display: block;
	background-image: url("../images/header/boton donde");
}

.botonDondeActivo {
	float: left;
	margin-left: 75px;
	margin-right: 75px;
	margin-top: 20px;
	width: 183px;
	height: 23px;
	display: block;
	background-image: url("../images/header/boton donde");
}

.botonContacto {
	float: left;
	margin-left: 35px;
	margin-top: 20px;
	width: 144px;
	height: 23px;
	display: block;
	background-image: url("../images/header/boton contacto inactivo.jpg");
}

.botonContacto:hover {
	float: left;
	margin-left: 35px;
	margin-top: 20px;
	width: 144px;
	height: 23px;
	display: block;
	background-image: url("../images/header/boton contacto.jpg");
}

.botonContactoActivo {
	float: left;
	margin-left: 35px;
	margin-top: 20px;
	width: 144px;
	height: 23px;
	display: block;
	background-image: url("../images/header/boton contacto.jpg");
}