div.oneandone-setup-panel {
  border-color: #E5E5E5;
  border-style: solid;
  border-width: 1px;
  padding: 0 15px 100px;
  min-height: 190px;
}
div.oneandone-setup-panel_second {
  border-color: #E5E5E5;
  border-style: solid;
  border-width: 1px;
  padding: 0 15px 10px;
}
div.oneandone-update-panel {
  border-color: #E5E5E5;
  border-style: solid;
  border-width: 1px;
  padding: 0 15px 20px;
  min-height: 100px;
}
div.oneandone-setup-panel h3 {
  background-size: auto 100%;
  margin: 1.33em 0 0;
}
div.oneandone-setup-panel .one-and-one-logo {
  position: absolute;
  top: 7px;
  right: 7px;
}
#oneandone-welcome-panel-dismiss {
  cursor: pointer;
  margin-top: 0;
  line-height: 44px;
}
.oneandone-setup-links {
  margin-top: 20px;
}
#oneandone-welcome-panel .panel-float-box {
  float: left;
  width: 33%;
}
#oneandone-welcome-panel .panel-float-box ul {
  line-height: 16px;
}
#oneandone-welcome-panel .panel-float-box.first {
  width: 30%;
}
#oneandone-welcome-panel .panel-float-box.last {
  width: 35%;
}
#oneandone-welcome-panel .panel-float-box.last .button {
  width: 270px;
  min-width: 250px;
  margin-bottom: 10px;
}
#oneandone-welcome-panel .panel-float-box.last a.button {
  text-align: center;
}
#oneandone-welcome-panel .button.oneandone-welcome-panel-get-started {
  margin-top: 0;
  margin-right: 15px;
}
@media only screen and (max-width: 1450px) {
  #oneandone-welcome-panel .panel-float-box {
    width: 35%;
  }
  #oneandone-welcome-panel .panel-float-box.last {
    width: 33%;
  }
  #oneandone-welcome-panel .panel-float-box.last .button {
    min-width: inherit;
  }
}
@media only screen and (max-width: 1250px) {
  #oneandone-welcome-panel .panel-float-box {
    width: 50%;
  }
  #oneandone-welcome-panel .panel-float-box.first {
    width: 100%;
  }
}
@media only screen and (max-width: 650px) {
  #oneandone-welcome-panel .panel-float-box {
    width: 100%;
  }
}
.one-and-one-info-box {
  border-color: #E5E5E5;
  padding: 7px 90px 7px 15px;
  margin: 15px 0px 15px 0;
  background: #FFFFFF;
  min-height: 100px;
}
.one-and-one-info-box-button {
  position: absolute;
  top: 100px;
  left: 20px;
}
.one-and-one-info-box-description {
  position: absolute;
  top: 115px;
  left: 240px;
  font-size: 1.2em;
}
#oneandone-welcome-panel div.welcome-panel-content {
  max-width: 100%;
}
#oneandone-welcome-panel div.update-panel-content {
  max-width: 100%;
}
#oneandone-welcome-panel div.update-panel-first {
  width: 80%;
  padding: 32px 0px 0px 2px;
  font-size: 1.2em;
}
@media only screen and (min-width: 783px) {
  .oneandone-setup-image {
    background-image: url("../images/WelcomeImage.png");
    background-repeat: no-repeat;
    background-size: 274px auto;
    float: left;
    height: 224px;
    margin: 20px 20px 20px 0;
    position: absolute;
    width: 274px;
  }
  img.oneandone-setup-image-logo {
    height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .oneandone-setup-image.margin-bottom {
    margin-bottom: 80px;
  }
  #oneandone-welcome-panel .oneandone-setup-message {
    padding-left: 290px;
  }
  #oneandone-welcome-panel .oneandone-setup-message.logo-right {
    padding-left: 0;
  }
  #oneandone-welcome-panel .oneandone-setup-message.logo-right table tr td {
    vertical-align: middle;
    padding: 0 0 0 15px;
    overflow: hidden;
  }
  #oneandone-welcome-panel .oneandone-setup-message.logo-right table tr td img {
    margin: 0 0 -12px 0;
  }
}
/* Menu */
a.menu-top.toplevel_page_1and1-wordpress-wizard .dashicons-before {
  background-image: url('../images/assistant-dashicon.png');
  background-position: center 7px;
  background-repeat: no-repeat;
}
a.menu-top.toplevel_page_1and1-wordpress-wizard:hover .dashicons-before {
  background-position: center -33px;
}
a.menu-top.toplevel_page_1and1-wordpress-wizard.current .dashicons-before {
  background-position: center -73px;
}
#wp-admin-bar-1and1-wordpress-wizard .ab-item .ab-icon:before {
  transition: none;
  background-image: url('../images/assistant-dashicon.png');
  background-position: center 4px !important;
  background-repeat: no-repeat;
  background-size: 16px;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
#wp-admin-bar-1and1-wordpress-wizard.current a.ab-item {
  color: #00b9eb;
  background: #32373c none;
}
#wp-admin-bar-1and1-wordpress-wizard.current a.ab-item .ab-label {
  color: #00b9eb;
}
#wp-admin-bar-1and1-wordpress-wizard.current .ab-item .ab-icon:before,
#wp-admin-bar-1and1-wordpress-wizard:hover .ab-item .ab-icon:before {
  background-position: center -28px !important;
}
