#customize-theme-controls #accordion-panel-widgets {
  display: none !important;
}
#customize-theme-controls #accordion-section-trance-pro h3 {
  background: #652020;
  color: #eee;
}
#customize-theme-controls #accordion-section-trance-pro h3:after {
  color: #eee;
}
